p {
    color: #62B3E4;
    font-family: HelveticaNeue, sans-serif;
}
button {
    font-family: HelveticaNeue, sans-serif;
    border: none;
    outline: none;
    padding: 0px;
}
input {
    border: none;
    height: 42px;
    font-family: HelveticaNeue, sans-serif;
    color: #404040;
    font-weight: 300;
    border-radius: 21px;
    background-color: white;
    border: 3px solid transparent;
    transition: border 0.51s;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
}
input:focus {
    border: 3px solid #eee;
}
input::placeholder {
    color: #cccccc;
}
.activity {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    /*transform: translateX(40px);*/
}
body {
    margin: 0px;
    transition: background-color 0.51s;
}

#background-top-strip {
    height: 72px;
    background-color: white;
    width: 0px;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
    position: fixed;
    opacity: 0.4;
    z-index: 5;
}

#background-logo-wrap {
    z-index: 8;
    opacity: 0;
    position: fixed;
    transform: translate(-30px, -30px);
    transition: opacity 1s, transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#background-logo-background-wrap {
    height: 140px;
    position: absolute;
    width: 236px;
}
#background-logo-background {
    fill: #62B3E4;
    height: 140px;
    width: 236px;
}

#background-shape-wrap {
    position: fixed;
    opacity: 0;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 1920px;
    transform: translateX(200px);
    transition: opacity 1s, transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#background-shape {
    fill: #f1f1f1;
    transition: fill 0.31s;
}

#background-receipt {
    /*background: linear-gradient(#ffffff00, #ffffff 50%);*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 410px;
    height: 840px;
    display: none;
}
#logo-main {
    position: relative;
    z-index: 3;
    margin: 13px 0px 0px 25px;
}
#main-activity {
    /*transform: translateX(-40px);*/
    overflow-y: scroll;
    z-index: 6;
}
#main-activity .content-wrap {
    margin-left: 200px;
    max-width: 900px;
    margin-right: 60px;
}
#main-activity .top-content-wrap {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}
#main-activity .error-display {
    display: none;
}

.ma-topbar-content {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 72px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
}

/*Start*/
#main-activity .ma-settings-toggle {
    background-color: transparent;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #5F5F5F;
    height: 48px;
    width: 48px;
    margin: 0px 8px;
    border-radius: 24px;
    transition: color 0.21s, background-color 0.21s;
}
#main-activity .ma-settings-toggle:hover {
    background-color: #e1e1e1;
    color: #444;
}
#main-activity .ma-settings-toggle i {
    font-size: 26px !important;
}
/*End*/ /*This exact same code is in back-button in trip-activity (with slight mods in color)*/

@media only all/*screen*/ and (max-width: 1300px) {
    #main-activity .content-wrap {
        margin: 0px auto;
    }
}

@media only all and (max-width: 940px) {
    #main-activity .content-wrap {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only all/*screen*/ and (max-width: 700px) {
    #main-activity .top-content-wrap {
        display: block;
        text-align: center;
    }
} 
.sort-widget-wrap {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-left: 72px;
}
.sort-widget-title {
    color: #5F5F5F;
    margin-right: 16px;
}
.sort-widget-selected, .sort-widget-expand {
    color: #62B3E4;
}
.sort-widget-expand {
    background-color: transparent;
    height: 32px;
    width: 32px;
    padding: 0px;
    border-radius: 100%;
    margin-left: 8px;
}
.arrow {
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.rotated {
    transform: rotate(180deg);
}
.sw-choice-wrap {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    width: 136px;
    left: 120px;
    top: 8px;
    height: 84px;
    opacity: 1;
    position: absolute;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.51s;
    box-shadow: 1px 1px 10px -4px #aaa;
    z-index: 5;
}
.sw-master {
    position: relative;
}
.no-height {
    height: 0px;
    opacity: 0;
}
.sw-choice {
    display: block;
    width: 100%;
    height: 42px;
    background-color: transparent;
    font-size: 18px;
    color: #62B3E4;
}
@media only all/*screen*/ and (max-width: 700px) {
    .sort-widget-wrap {
        margin-left: 0px;
        margin-bottom: 16px;
    }
    .sort-widget-title {
        padding-left: 10px;
    }
    .sw-master {
        width: 300px;
        margin: 0px auto 0px;
    }
} 
.overlay {
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.main-button-wrap {
    height: 56px;
    width: 240px;
    line-height: 56px;
    text-align: center;
    background-color: #62B3E4;
    color: white;
    font-weight: 400;
    font-size: 22px;
    border-radius: 28px;
    letter-spacing: 2px;
}
#trip-activity {
    z-index: 7;
    transform: translateX(40px);
}
#trip-activity .receipt-content {
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(#ffffff00, #ffffff 50%);
    border-left: 2px solid #e6e6e6;
    width: 350px;
    display: none;
}
#trip-activity .absolute-receipt-content {
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: flex-end;
}
#trip-activity .top-bar {
    position: fixed;
    left: 212px;
    top: 0px;
    right: 40px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
#trip-activity .back-button {
    background-color: transparent;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #5F5F5F;
    height: 48px;
    padding: 0px 20px 0px 14px;
    border-radius: 24px;
}
#trip-activity .back-button:hover {
    background-color: #ececec;
}
#trip-activity .back-icon {
    margin-right: 16px;
    font-size: 26px !important;
}
#trip-activity .middle-content {
    position: relative;
    width: 400px;
    background-color: #e8e8e8;
}
#trip-activity .main-content {
    background-color: #e1e1e1;
    position: relative;
}
#trip-activity .trip-activity-content {
    position: fixed;
    top: 72px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
}
@media all/*screen*/ and (min-width: 1550px) {
    #trip-activity .trip-activity-content {
        justify-content: flex-start;
    }
    #trip-activity .main-content {
        flex: 1;
    }
    #trip-activity .receipt-content {
        display: flex;
    }
}
@media all/*screen*/ and (max-width: 1100px) {
    #trip-activity .trip-activity-content {
        display: block;
        overflow-y: scroll;
    }
    #trip-activity .absolute-receipt-content {
        position: fixed;
        z-index: 4;
        left: 0px;
    }
    #trip-activity .middle-content {
        margin: 0px auto;
    }
    #trip-activity .main-content {
        max-width: 900px;
        margin: 0px auto;
    }
}
button,a {
	overflow:hidden !important;
	position:relative;
}
.rippleTouch {
	position:absolute;
	border-radius:100% !important;
	background-color:#ffffff !important;
	opacity:0;
	transition:transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.1s;
}
.ripple {
	position:absolute;
	border-radius:100% !important;
	background-color:#ffffff !important;
	opacity:0;
	transition:transform 1.1s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.25s;
    height:40px;
    width:40px;
}
.gray {
	background-color: #a1a1a1 !important;
}
.blue {
	background-color: #62B3E4 !important;
}
.save-indicator {
    display: flex;
    align-items: center;
    cursor: default;
}
.si-background {
    background-color: #e1e1e1;
    height: 40px;
    border-radius: 20px;
    margin-left: 8px;
    padding: 0px 8px;
    cursor: default;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: width 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.si-background-inner {
    display: flex;
    height: 40px;
    align-items: center;
}
.si-trip-name {
    margin: 0px 8px;
    cursor: default;
}
.si-state, .si-icon {
    color: #5F5F5F;
    margin: 0px 8px;
    cursor: default;
    white-space: nowrap;
}
.si-retry {
    background-color: transparent;
    margin-right: 16px;
    margin-left: 6px;
    color: #5F5F5F;
    font-size: 16px;
    text-decoration: underline;
    white-space: nowrap;
}
.si-retry:hover {
    cursor: pointer;
    color: black;
}
.loader {
    position: relative;
    margin: 0px 10px 0px 4px;
    width: 18px;
    height: 18px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    animation: full-rotate 2s linear infinite;
    -webkit-animation: full-rotate 2s linear infinite;
    z-index: 11;
}

.circular-loader {
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.loader-path {
    stroke-dasharray: 150,200;
    stroke-dashoffset: -10;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(100deg);
        transform: rotate(100deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(100deg);
        transform: rotate(100deg);
    }
}

@-webkit-keyframes full-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes full-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 2,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90,200;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2,200;
        stroke-dashoffset: -90;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 2,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90,200;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2,200;
        stroke-dashoffset: -90;
    }
}

.trip-receipt {
    width: 100%;
    box-sizing: border-box;
    padding: 28px;
    padding-bottom: 12px;
}
.tr-card {
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    opacity: 0;
    transform: translateY(40px);
    padding-bottom: 56px;
    position: relative;
    max-width: 250px;
    margin: 0px auto -64px;
}
.tr-separator {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #707070;
}
.tr-total {
    display: flex;
    justify-content: space-evenly;
}
.tr-total p:first-child {
    color: #5F5F5F;
}
.tr-total p {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.tr-expand-wrap {
    height: 56px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 28px;
    margin: 8px auto 20px;
    padding: 0px 16px 0px 24px;
    align-items: center;
    z-index: 2;
    position: relative;
}
.tr-expand-text {
    font-size: 19px;
    color: #5F5F5F;
}
.tr-expand-button {
    height: 36px;
    width: 36px;
    background-color: transparent;
    border-radius: 100%;
}
.tr-expand-button i {
    color: #5F5F5F;
    transition: transform 0.31s cubic-bezier(0.19, 1, 0.22, 1);
}
.tr-valid {
    text-align: center;
    color: #5F5F5F;
}
.receipt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.receipt-item > div {
    display: flex;
    align-items: center;
}
.ri-currency {
    font-weight: 300;
    color: #5F5F5F;
    font-size: 20px;
    margin: 0px;
    margin-right: 14px;
}
.ri-rate {
    height: 34px;
    border-radius: 17px;
    background-color: #f1f1f1;
    color: #62B3E4;
    font-weight: 400;
    text-align: center;
    font-size: 19px;
    width: 80px;
    padding: 10px;
}
.ri-amount {
    font-size: 22px;
    margin: 0px;
}
.ri-refresh {
    border-radius: 100%;
    color: #5F5F5F;
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-left: 12px;
}
.ri-refresh:hover {
    background-color: #e6e6e6;
}
.point-selector-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 100%;
}
.point-list-wrap {
    position: relative;
    overflow-y: scroll;
    padding-top: 50px;
    margin-bottom: 118px;
}
.point-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.export-wrap {
    background-color: #e8e8e8;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
@media all/*screen*/ and (max-width: 1100px) {
    .point-selector-wrap {
        height: auto;
    }
    .export-wrap {
        position: relative;
    }
}
.trip-point-button-circle {
    border-radius: 100%;
    background-color:#62B3E4;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tpb-transit {
    background-color: #707070;
    height: 40px;
    border-radius: 20px;
}
.trip-point-wrap {
    background-color: transparent;
    border-radius: 41px;
    height: 82px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: flex-end;
    padding: 0px 6px 0px 6px;
    margin-right: 50px;
}
.trip-point-short {
    height: 52px;
    align-items: center;
}
.trip-point-short > div > p {
    line-height: 52px;
}
.trip-point-texts {
    
}
.add-point {
    margin-bottom: 50px;
    /*Is always last*/
}
.trip-point-wrap:hover {
    background-color: #e1e1e1;
}
.trip-point-text-first-line {
    margin: 0px 18px 0px 18px;
    font-size: 22px;
    padding-left: 12px;
    text-align: right;
}
.trip-point-text-only-line {
    margin: 0px 18px 0px 18px;
    font-size: 18px;
    color: #444;
    line-height: 70px;
    padding-left: 12px;
    text-align: right;
}
.tpt-gray {
    color: #5F5F5F;
}
.tp-add-point {
    line-height: 70px;
    color: #5F5F5F;
}
.trip-point-text-second-line {
    margin: 0px 18px 0px 18px;
    text-align: right;
    font-size: 17px;
}
.tp-gray-text {
    color: #5F5F5F;
}
.trip-point-plus {
    font-size: 30px !important;
    color: white;
}
.trip-point-placeholder-circle {
    height: 16px;
    border-radius: 100%;
    width: 16px;
    background-color: white;
}
.trip-point-travel-line {
    height: 100px;
    width: 6px;
    border-radius: 3px;
    background-color: #5F5F5F;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trip-point-travel-icon {
    height: 26px !important;
    width: 26px !important;
    font-size: 26px !important;
    color: #5F5F5F;
}
.trip-point-travel-line-short {
    height: 29px;
    width: 6px;
    border-radius: 3px;
    background-color: #5F5F5F;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trip-point-travel-line-wrap {
    width: 26px;
    margin-right: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trip-point-travel-line-short:nth-child(1) {
    margin-bottom: 8px;
}
.trip-point-travel-line-short:last-child {
    margin-top: 8px;
}
.trip-point-master-wrap {
    /*height: 0px;*/
    opacity: 0;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.51s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.trip-point-country-code {
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.tp-travel-line-wrap {
    display: flex;
    align-items: center;
}
.tp-border-cross-wrap {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 3px solid #f5f5f5;
    transition: background-color 0.31s;
    border-radius: 19px;
    height: 38px;
    box-sizing: border-box;
    margin-right: 24px;
}
button.tp-border-cross-wrap:hover {
    background-color: white;
}
.tp-border-cross-title {
    color: #5F5F5F;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}
.tp-border-cross-title span {
    margin-left: 8px;
    font-size: 17px;
    color: #62B3E4;
}
.tp-separator {
    height: 20px;
    width: 2px;
    background-color: #aaa;
}
.tp-edit-icon {
    color: #777;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px 0px 4px;
    font-size: 21px !important;
}
.tp-add-transit-wrap {
    width: 30px;
    height: 30px;
    margin-right: 40px;
    margin-top: 4px;
}
.tp-add-transit-button {
    height: 29px;
    width: 29px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 100%;
    color: #444;
}
.tp-add-transit-button:hover {
    background-color: #e1e1e1;
}
.tp-country-dot-arrival {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: 0px !important;
    margin-right: 8px !important;
    background-color: #5F5F5F;
}
.tp-country-dot-departure {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: 4px !important;
    margin-right: 2px !important;
    background-color: #5F5F5F;
}
.time-input {
    background-color: #f1f1f1;
    border-radius: 21px;
    height: 42px;
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ti-colon {
    width: 5px;
    color: #5f5f5f;
}
.ti-field {
    background-color: transparent;
    border-radius: 21px;
    margin: 0px;
    width: 38px !important;
    padding: 0px !important;
    border: 0px !important;
    text-align: center;
}
.ti-field:focus {
    background-color: transparent !important;
}
.gti-wrap {
    padding-top: 50px;
}
.gti-section {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.gti-section input {
    width: 350px;
    background-color: #f1f1f1;
    transition: background-color 0.31s;
}
.gti-section input:focus {
    background-color: white;
}
.trip-property-label {
    font-size: 22px;
    color: #5F5F5F;
    width: 230px;
    line-height: 42px;
    margin: 15px 0px;
}
#gti-project {
    width: 180px;
    text-align: center;
    margin-right: 20px;
}
#gti-task {
    text-align: center;
    width: 150px;
}
.pd-wrap {
    padding-top: 70px;
    padding-left: 34px;
    min-height: 210px;
    width: 100%;
    transition: opacity 0.31s, transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    background-color: #e1e1e1;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    padding-bottom: 70px;
    opacity: 0;
    display: none;
    box-sizing: border-box;
    transform: translateX(40px);
}
.pd-topbar {
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 596px; /*Left margin + width of the gti-section*/
    box-sizing: border-box;
}
.pd-back {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: #5f5f5f !important;
    font-size: 21px;
    background-color: transparent;
    padding: 0px 14px 0px 12px;
    margin-bottom: 10px;
}
.pd-back i {
    margin-right: 8px;
}
.pd-back:hover {
    background-color: #e8e8e8;
}
.pd-no-text {
    padding: 0px 4px;
    width: 26px;
    box-sizing: content-box;
    transition: width 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    white-space: nowrap;
}
.pd-no-text p {
    margin: 0px 10px;
    color: #5F5F5F;
}
.pd-no-text:hover {
    width: 216px;
}
.pd-no-text i {
    margin-right: 0px;
    color: #888;
}
.pd-no-text:hover i {
    color: #5F5F5F;
    margin-left: 10px;
}
.no-left-margin {
    margin-left: 16px; /*Some offset is required*/
}
.above {
    z-index: 3;
}
.top-align {
    align-items: flex-start;
    margin-top: 30px;
}
.top-align:nth-child(4) {
    margin-top: 15px;
}
.top-align > p {
    margin: 0px;
}
.travel-picker {
    height: 42px;
    width: 351px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    border-radius: 21px;
    overflow: hidden;
}
.tp-button {
    height: 42px;
    background-color: transparent;
    width: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.51s;
    justify-content: center;
}
.tp-button p {
    margin: 0px;
    color: #5F5F5F;
    font-size: 13px;
    text-align: center;
}
.tp-selected {
    background-color: #d5d5d5;
}
.tp-selected p, .tp-selected i {
    color: #222 !important;
}
.tp-button i {
    color: #5F5F5F;
    font-size: 20px !important;
}
.city-input {
    position: relative;
}
.city-country-info {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 42px;
    line-height: 42px;
    margin: 0px 20px 0px 0px;
    color: #999;
    text-align: right;
}
.trip-point-food-wrap {
    background-color: #f1f1f1;
    border-radius: 21px;
    padding: 2px 12px 6px 12px;
}
.pd-transit-info {
    display: flex;
    align-items: center;
    width: 596px;
    justify-content: center;
    margin-top: 16px;
}
.pd-transit-info i, .pd-transit-info p {
    color: #777;
    margin: 0px 8px;
}

@media all/*screen*/ and (max-width: 1550px) {
    .pd-wrap {
        padding-bottom: 130px;
    }
}

.day-input {
    background-color: #f1f1f1;
    border-radius: 21px;
    width: 300px;
    margin-top: 16px;
    padding-top: 6px;
}
.di-header {
    display: flex;
    align-items: middle;
    justify-content: center;
}
.di-month-switch {
    margin: 0px 6px;
    background-color: transparent;
    border-radius: 100%;
    height: 34px !important;
    width: 34px !important;
    padding: 0px;
    color: #5f5f5f;
}
.di-month-switch > button > i {
    font-size: 24px !important;
}
.di-month-title {
    font-size: 19px;
    color: #5f5f5f;
    line-height: 34px;
    margin: 0px 16px;
    width: 145px;
    text-align: center;
}
.di-separator {
    background-color: #ccc;
    height: 2px;
    width: 90%;
    margin: 6px auto;
    border-radius: 1px;
}
.di-number-wrap {
    text-align: center;
}
table {
    font-family: HelveticaNeue, sans-serif;
    width: 252px;
    text-align: center;
    margin: 0px auto;
}
th {
    font-weight: 400;
    width: 36px;
    height: 36px;
}
td {
    font-weight: 300;
    width: 36px;
    height: 36px;
}
.day-button {
    height: 36px;
    width: 36px;
    font-weight: 300;
    margin: -6px;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: transparent;
    /*transition: border 0.31s, background-color 0.31s, color 0.31s;*/
    transition: border 0.31s;
}
.day-button:hover {
    font-weight: 400;
}
.day-button:active {
    background-color: #FAA519;
    border: 2px solid #ccc;
    font-weight: 400;
}
.db-today {
    background-color: #ddd;
}
.db-selected {
    background-color: #FAA519 !important;
    border: 2px solid #ccc;
    font-weight: 400;
    color: white;
}
.food-input-widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fiw-row {
    display: flex;
    padding: 6px 0px 6px 0px;
    justify-content: space-between;
    align-items: center;
}
.fiw-title {
    margin: 0px;
    color: #5F5F5F;
    font-size: 21px;
    height: 25px;
    line-height: 25px;
    width: 60px;
    text-align: center;
}
.fiw-checkbox {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    border: 2px solid #707070;
    background-color: #f1f1f1;
    transition: background-color 0.2s, border 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fiw-checkbox-wrap {
    width: 80px;
    display: flex;
    justify-content: center;
}
.fiw-checkbox i {
    display: none;
    color: white;
    height: 21px;
    width: 21px;
    margin-top: 1px;
    font-size: 19px !important;
}
.checked {
    background-color: #FAA519;
    border: 2px solid #FAA519;
}
.checked i {
    display: block;
}
.food-type-title {
    color: #444;
    font-size: 17px;
    text-align: center;
    margin: 0px;
    width: 80px;
}
.cs-wrap {
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 21px;
    width: 350px;
    text-align: left;
    box-shadow: 1px 1px 10px -4px #aaa;
    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #eee;
    transition: opacity 0.31s;
}
.cs-wrap button {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    color: #5F5F5F;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.cs-wrap button span.country {
    text-align: right;
    color: #777;
    font-size: 15px;
}
/*.cs-wrap {
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 21px;
    width: 350px;
    text-align: left;
    box-shadow: 1px 1px 10px -4px #aaa;
    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #eee;
    transition: opacity 0.31s;
}
.cs-wrap button {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    color: #5F5F5F;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.cs-wrap button span.country {
    text-align: right;
    color: #777;
    font-size: 15px;
}*/
/*All defined in city suggestions and must be the same here*/
.trip-list {
    margin-top: 28px;
    margin-bottom: 48px;
}
.no-trips-text {
    text-align: center;
    font-size: 28px;
    margin: 72px auto;
    font-weight: bold;
    color: #c1c1c1;
}
.trip-preview-wrap {
    width: 100%;
    height: 72px;
    overflow: hidden;
    border-radius: 36px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), margin 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.15s;
}
.trip-preview-left, .trip-preview-right {
    display: flex;
    overflow: hidden;
}
.trip-preview-left {
    justify-content: flex-start;
    flex: 1;
}
.trip-preview-right {
    justify-content: flex-end;
    margin-right: 24px;
    align-items: center;
}
.trip-preview-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.trip-preview-wrap p {
    margin: 2px 0px;
}
.trip-preview-title {
    font-size: 17px;
    margin-left: 16px !important;
    border: none;
    background-color: transparent;
    color: #62B3E4;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
}
.trip-preview-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.trip-preview-purpose {
    font-size: 15px;
    color: #5F5F5F;
    font-weight: 300;
    margin-left: 16px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
}
.trip-preview-date, .trip-preview-money {
    text-align: right;
    font-size: 17px;
}
.trip-preview-date {
    color: #5F5F5F;
}
.trip-preview-button {
    height: 36px;
    width: 36px;
    background-color: transparent;
    color: #5F5F5F;
    margin-left: 12px;
    border-radius: 100%;
    transition: background-color 0.2s;
}
.trip-preview-button:hover {
    background-color: #e6e6e6;
}
.margin {
    margin-right: 8px;
}
.state-wrap {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin-top: 13px;
    transition: background-color 0.31s;
    margin-left: 13px;
}
.state-svg {
    height: 46px;
    width: 46px;
}
.overflow-menu {
    z-index: 8;
    background-color: #f5f5f5;
    position: fixed;
    height: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -4px #aaa;
    overflow: hidden;
    opacity: 0;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
}
.overflow-button {
    height: 50px;
    display: block;
    color: #444;
    font-weight: bold;
    font-size: 17px;
    background-color: transparent;
    line-height: 20px;
    display: flex;
    min-width: 100%;
    align-items: center;
    padding: 0px 28px 0px 18px;
}
.overflow-button i {
    font-size: 20px !important;
    padding-right: 16px;
}
.welcome-dialog-wrap {
    background-color: white;
    position: fixed;
    z-index: 8;
    height: 800px;
    width: 1200px;
    max-width: 50%;
    max-height: 80%;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: scale(0.8);
    box-shadow: 2px 2px 20px -4px #888;
    border-radius: 10px;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    overflow: hidden;
}
.welcome-dialog-backdrop {
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 8;
    background-color: #444;
    transition: opacity 0.31s;
}
.wd-bottom-bar {
    height: 72px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: white;
}
.wd-direction {
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #5F5F5F;
    font-size: 20px;
    width: 100px;
    justify-content: center;
}
.wd-direction i {
    font-size: 28px !important;
    margin: 0px 4px;
}
.wd-direction:first-child {
    padding-right: 12px;
}
.wd-direction:last-child {
    padding-left: 12px;
}
.wd-direction:disabled {
    color: #999;
}
.wd-indicator-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wd-dot {
    height: 8px;
    width: 8px;
    background-color: #ccc;
    margin: 4px;
    border-radius: 100%;
    transition: margin 0.51s cubic-bezier(0.19, 1, 0.22, 1), height 0.51s cubic-bezier(0.19, 1, 0.22, 1), width 0.51s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.wd-selected {
    width: 10px;
    height: 10px;
    margin: 4px 3px;
    background-color: #62B3E4;
}
.wd-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 72px;
}
.wd-page {
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(20px);
}
#login-activity {
    transform: translate(0px, 40px);
}
#login-activity .content-wrap {
    margin: 110px auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 24px;
    background-color: #f7f7f7;
    border: 2px solid #ddd;
}
.la-content-wrap {
    height: 170px;
    width: 600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.la-main-button-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}
.la-content-title {
    color: #909090;
    text-align: center;
    font-size: 19px;
    margin: -20px auto 10px;
}
.la-separator {
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: #e1e1e1;
    margin: 5px 0px 10px 0px;
}
.la-login-expand, .la-register-expand {
    height: 50px;
    width: 260px;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 25px;
    transition: background-color 0.31s;
    box-shadow: 1px 1px 10px -4px #aaa;
}
.la-login-expand {
    background-color: #62B3E4;
    border: 3px solid #62B3E4;
    color: white;
}
.la-login-expand:hover {
    background-color: #52A3D4;
}
.la-register-expand {
    background-color: white;
    border: 3px solid #eaeaea;
    color: #808080;
}
.la-register-expand:hover {
    background-color: #f1f1f1;
}
#login-activity .blue-text-logo {
    height: 120px;
    display: block;
    margin: 100px auto 0px;
}
#login-activity .login-input {
    margin-top: 20px;
    background-color: #e6e6e6;
    width: 60%;
    display: block;
    margin: 10px auto;
}
#login-activity .login-input::placeholder {
    color: #a1a1a1;
}
#login-activity .login-button {
    height: 42px;
    width: 50%;
    color: white;
    letter-spacing: 0.5px;
    font-size: 22px;
    background-color: #62B3E4;
    border-radius: 24px;
    display: block;
    margin: 30px auto 0px;
}
.la-icons {
    display: flex;
    width: 600px;
    margin: 0px auto;
    justify-content: center;
}
.la-icons i {
    font-size: 100px !important;
    color: #e4e4e4;
    display: flex;
    align-items: center;
}


.la-login-wrap, .la-register-wrap {
    display: none;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.31s, box-shadow 0.31s cubic-bezier(0.95, 0.05, 0.795, 0.035), transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.la-register-wrap {
    height: 700px;
    margin-top: -350px;
}
.la-login-register-background {
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: center;
    border-radius: 100%;
    transform: scale(1);
    transition: transform 1.41s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.la-login-register-content {
    opacity: 0;
    transition: opacity 0.21s;
    z-index: 2;
    position: relative;
    height: 100%;
}
.la-backdrop {
    width: 100%;
    height: 150vh;
    position: fixed;
    top: -100px;
    left: 0;
    z-index: 9;
    background-color: black;
    opacity: 0;
    display: none;
    transition: opacity 0.31s;
}
.la-window-topbar {
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
    justify-content: space-between;
}
.la-window-topbar button {
    height: 36px;
    padding: 0px 9px 0px 6px;
    border-radius: 18px;
    font-size: 16px;
    margin: 10px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #5F5F5F;
}
.la-window-topbar button i {
    font-size: 20px;
    margin-right: 6px;
}
.la-login-register-content p {
    color: #5f5f5f;
    margin: 0px;
    font-size: 26px;
    text-align: center;
    line-height: 120px;
}
.la-less-margin {
    line-height: 80px !important;
}
.la-info {
    margin: 0px;
    color: #707070 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    margin-bottom: 22px !important;
    width: 55%;
    margin: 0px auto 22px !important;
}
.la-window-topbar span {
    display: block;
    width: 79px;
    margin: 10px 15px;
}
.uncheck-white {
    background-color: white;
}
.check-blue {
    background-color: #62B3E4;
    border-color: #62B3E4;
}
.long-sign-wrap {
    width: 60%;
    margin: 26px auto 0px;
    display: flex;
    justify-content: center;
}
.long-sign-wrap p {
    font-size: 18px;
    margin-left: 12px;
    line-height: 24px;
}
